
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #087F8C;
}

#left-box {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    color: white;

}

#title1 {
    color: white;
    font-family: font-family: 'Belanosima', sans-serif;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 60px;
}

#title2 {
    color: white;
    font-family: font-family: 'Belanosima', sans-serif;
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 40px;
}


h3 {
    display: inline;
}

input {
    display: inline;
    margin-left: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: #7e8686;
    color: #ffffff;
}

#simbolo-moeda {
    color: black;
    font-size: 18px;
    border-color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}




.right-box {
    display: inline-block;
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    border-radius: 50px;
    width: 250px;
}

p {
    background-color: white;
    color: #087F8C;
    font-size: 18px;
    margin-bottom: 10px;
}


select {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

#valor {
    background-color: white;
    border-radius: 10px;
}


button {
    display: block;
    padding: 10px;
    background-color: #BB9F06;
    color: #5a4f0f;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}





/*  COMENTARIOS







